<div id="footer">
	<ul class="list-inline pull-left">
		<li>© 2014 Company, Inc.</li>
		<li><a href="#">Terms of Use</a></li>
		<li><a href="#">Privacy Policy</a></li>
	</ul>
	<ul class="list-inline pull-right">
	</ul>
</div>