<div class="jumbotron">
  <h1>Aia Patag</h1>
  <p>I'm a code junkie, a shutterbug, and a wanderer.</p>
  <p><a class="btn btn-primary btn-lg" role="button" href="http://weekendchronicles.com" target="_blank">My blog</a></p>
</div>